{% extends 'layout.html' %}

{% block content %}

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="../static/css/cart.css">
<div class="container" style="margin-top:100px">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-md-9">
                <div class="ibox">
                    <div class="ibox-title">
                        <span class="pull-right">(<strong>5</strong>) articles</span>
                        <h5>Articles dans votre panier</h5>
                    </div>
                    {% for p in product %}
                    <div class="ibox-content">
                        <div class="table-responsive">
                            <table class="table shoping-cart-table">
                                <tbody>
                                    <tr>
                                        <td width="90">
                                            <div class="cart-product-imitation">
                                                <img src="{{p.createdby}}" alt="{{p.name}}">
                                            </div>
                                        </td>
                                        <td class="desc">
                                            <h3>
                                                <a href="#" class="text-navy">
                                                    {{p.name}}
                                                </a>
                                            </h3>
                                            <p class="small">
                                                {{p.description}}
                                            </p>
                                            <dl class="small m-b-none">
                                                <dt>Description lists</dt>
                                                <dd>A description list is perfect for defining terms.</dd>
                                            </dl>

                                            <div class="m-t-sm">
                                                <a href="#" class="text-muted"><i class="fa fa-gift"></i> Ajouter un
                                                    emballage cadeau</a>
                                                |
                                                <a href="#" class="text-muted"><i class="fa fa-trash"></i> Retirer
                                                    l'article</a>
                                            </div>
                                        </td>

                                        <td>
                                            {% if p.price != '' %}
                                            <p>Prix régulier: <s>{{p.price}} $</s></p>
                                            {% else %}
                                            <p>Prix régulier: {{p.price}} $</p>
                                            {% endif %}

                                            {% if p.price != '' %}
                                            <p>Prix promotionnel: <b>{{p.price}} $</b></p>
                                            {% endif %}
                                        </td>
                                        <td width="65">
                                            <input type="text" class="form-control" placeholder="{{p.quantity}}">
                                        </td>
                                        <td>
                                            <h4>
                                                $180,00
                                            </h4>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                    {% endfor %}



                    <div class="ibox-content">
                        {% if user.is_authenticated %}
                        {{form.render}}
                        {% else %}
                        <a href="login">Connecter vous</a>
                        {% endif %}
                        <button class="btn btn-white"><i class="fa fa-arrow-left"></i> Continuer à magasiner</button>

                    </div>
                </div>

            </div>
            <div class="col-md-3">
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>Résumé du panier</h5>
                    </div>
                    <div class="ibox-content">
                        <span>
                            Total
                        </span>
                        <h2 class="font-bold">
                        {{price}}
                        </h2>

                        <hr>
                        <span class="text-muted small">
                            *Les taxes dépendent de votre emplacement.
                        </span>
                        <div class="m-t-sm">
                            <div class="btn-group">
                                {% if user.is_authenticated %}
                                {{form.render}}
                                {% else %}
                                <a href="login">Connecter vous</a>
                                {% endif %}
                                <a href="#" class="btn btn-white btn-sm"> Annuler</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="ibox">
                    <div class="ibox-title">
                        <h5>Support</h5>
                    </div>
                    <div class="ibox-content text-center">
                        <h3><i class="fa fa-phone"></i> +43 100 783 001</h3>
                        <span class="small">
                            Contactez-nous si vous avez des interrogations. Nous sommes disponible 24h.
                        </span>
                    </div>
                </div>

                <div class="ibox">
                    <div class="ibox-content">

                        <p class="font-bold">
                            Autres produits pouvant vous intéresser.
                        </p>
                        <hr>
                        <div>
                            <a href="#" class="product-name"> Product 1</a>
                            <div class="small m-t-xs">
                                Many desktop publishing packages and web page editors now.
                            </div>
                            <div class="m-t text-righ">

                                <a href="#" class="btn btn-xs btn-outline btn-primary">Voir <i class="fa fa-long-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                        <hr>
                        <div>
                            <a href="#" class="product-name"> Product 2</a>
                            <div class="small m-t-xs">
                                Many desktop publishing packages and web page editors now.
                            </div>
                            <div class="m-t text-righ">

                                <a href="#" class="btn btn-xs btn-outline btn-primary">Voir <i class="fa fa-long-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}