{% extends 'layout.html' %}

{% block content %}
<section style="padding-top:65px;padding-bottom:50px" id="produits" class="services">

    <div class="container" data-aos="fade-up">

        <header class="section-header">
            <p>{{Name}}</p>
        </header>

        <div class="row">
            <div class="col-lg-6 ">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style="width:50vh;height: 50vh;">
                    <div class="carousel-inner">
                        {% for image in ProdImg %}
                        <div class="carousel-item carou">
                            <img class="d-block w-100" src="{{image.path}}" alt="First slide">
                        </div>
                        {% endfor %}
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
            <div class="col-lg-6">
                <p>Prix: {{Price}}</p>

                <p>Ravais:{{PromoPrice.prixrabais}}</p>
                <p>Marque: {{Brand}}</p>
                <p>Catégorie: {{Category}}</p>
                <p>Informations: {{Description}}</p>
            </div>
        </div>
    </div>
    </div>

</section><!-- End Services Section -->

<script src="../static/js/details.js"></script>
{% endblock %}