{% extends 'layout.html' %}

{% block content %}
<section style="padding-top:65px;padding-bottom:50px" id="produits" class="services">

    <div class="container" data-aos="fade-up">

        <header class="section-header">
            <p>{{Name}}</p>
        </header>

        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

            <ol class="carousel-indicators">
                {% for image in ProdImg %}           
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                {% endfor %}
            </ol>

            <div class="carousel-inner">
                {% for image in ProdImg %}
                <div class="carousel-item active">
                    <img class="d-block w-100" src="{{image.path}}" alt="First slide">
                </div>
                {% endfor %}
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

    </div>

</section><!-- End Services Section -->


{% endblock %}