{% extends 'layout.html' %} {% block content %}
<!-- ======= Hero Section ======= -->
<section id="hero" class="hero d-flex align-items-center">

    <div class="container">
        <div class="row">
            <div class="col-lg-6 d-flex flex-column justify-content-center">
                <h1 data-aos="fade-up">Construisez votre ordinateur de rêve avec des composantes performantes</h1>
                <h2 data-aos="fade-up" data-aos-delay="400">Notre inventaire compte des milliers de composantes haut de gamme de vos marques favorites.</h2>
                <div data-aos="fade-up" data-aos-delay="600">
                    <div class="text-center text-lg-starFt">
                        <a href="/products" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                            <span>Magasinez</span>
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
                <img src="../static/img/hero-img.png" class="img-fluid" alt="">
            </div>
        </div>
    </div>

</section>
<!-- End Hero -->

<main id="main">
    <!-- ======= About Section ======= -->
    <section id="about" class="about">

        <div class="container" data-aos="fade-up">
            <div class="row gx-0">
                <h3>Promo en cours!</h3>
                {% for p in promotions %}
                <div class="col-lg-6 d-flex flex-column justify-content-center" style="margin-bottom:25px" data-aos="fade-up" data-aos-delay="200">
                    <div class="content">

                        <h2>{{p.name}}</h2>
                        <p>
                            Offrez-vous ce dont vous rêvez en profitant de rabais allant<br> jusqu'à {{p.discount}} % sur certains articles sélectionnés!
                        </p>
                        <div class="text-center text-lg-start">
                            <a href="/product/{{p.id}}" class="btn-read-more d-inline-flex align-items-center justify-content-center align-self-center">
                                <span>Promotion</span>
                                <i class="bi bi-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
                    <img src="{{p.path}}" width="200" height="200" class="img-fluid" alt="">
                </div>
                {% endfor %}
            </div>
        </div>

    </section>
    <!-- End About Section -->

    <!-- ======= Values Section ======= -->
    <section id="services" class="services">

        <div class="container" data-aos="fade-up">

            <header class="section-header">
                <h2>Articles en promotions</h2>
                <p>Procurez-vous les articles les plus chauds du moment.</p>
            </header>
            <!-- ======= Insert product loop here ======= -->
            <div class="row">
                {% for p in produitpromoFromView %}

                <div class="col-lg-4">
                    <div class="service-box blue" data-aos="fade-up" data-aos-delay="0">
                        <a href="/product/{{p.productid}}"><img src={{p.path}} class="img-fluid" alt=""></a>
                        <h3>{{p.productname}}</h3>
                        <p>Prix régulier {{p.price}} $</p>
                        <p>Prix promotionnel {{p.promoname}}: <b>{{p.prixrabais}} $</b></p>
                        <div class="text-center text-lg-start">
                            <a href="/product/{{p.productid}}" class="read-more">
                                <span>Détails</span>
                                <i class="bi bi-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>

        </div>

    </section>
    <!-- End Values Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">

        <div class="container" data-aos="fade-up">

            <header class="section-header">
                <h2>Produits</h2>
                <p>Magasinez les Produits</p>
            </header>

            <div class="row gy-4">

                {% for p in produitFromViews %}

                <div class="col-lg-4">
                    <div class="service-box blue" data-aos="fade-up" data-aos-delay="0">
                        <a href="/product/{{p.id}}"><img src={{p.path}} class="img-fluid" alt=""></a>
                        <h3>{{p.name}}</h3>
                        <p>{{p.description}}</p>
                        <div class="text-center text-lg-start">
                            <a href="/product/{{p.id}}" class="read-more">
                                <span>Détails</span>
                                <i class="bi bi-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %}


            </div>

        </div>

    </section>
    <!-- End Services Section -->

    <!-- ======= Pricing Section ======= -->
    <section id="avantages" class="pricing">

        <div class="container" data-aos="fade-up">

            <header class="section-header">
                <h2>Avantages</h2>
                <p>Connaissez nos avantages</p>
            </header>

            <div class="row gy-4" data-aos="fade-left">

                <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="100">
                    <div class="box">
                        <h3 style="color: #07d5c0;">Support 24/7</h3>
                        <div class="price">Inclus</div>
                        <img src="../static/img/pricing-free.png" class="img-fluid" alt="">
                        <ul>
                            <li>Support en ligne</li>
                            <li>Support en magasin</li>
                            <li>Ligne téléphonique</li>
                            <li>F.A.Q</li>
                        </ul>

                    </div>
                </div>

                <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="200">
                    <div class="box">
                        <span class="featured">Exclusif</span>
                        <h3 style="color: #65c600;">Prix garanti</h3>
                        <div class="price">Inclus</div>
                        <img src="../static/img/pricing-starter.png" class="img-fluid" alt="">
                        <ul>
                            <li>Prix garanti 30 jours</li>
                            <li>Réglement de prix</li>
                            <li>Meilleur prix garanti</li>
                            <li>Accotement des promotions</li>
                        </ul>

                    </div>
                </div>

                <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="300">
                    <div class="box">
                        <h3 style="color: #ff901c;">Livraison gratuite</h3>
                        <div class="price">Gratuit</div>
                        <img src="../static/img/pricing-business.png" class="img-fluid" alt="">
                        <ul>
                            <li>Livraison 4-7 jours ouvrables</li>
                            <li>Offert partout sur le globe</li>
                            <li>Remboursement possible*</li>
                            <li>Tranquilité d'esprit</li>
                        </ul>

                    </div>
                </div>

                <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="400">
                    <div class="box">
                        <h3 style="color: #ff0071;">Livraison ultra rapide</h3>
                        <div class="price"><sup>$</sup>50<span> / commande</span></div>
                        <img src="../static/img/pricing-ultimate.png" class="img-fluid" alt="">
                        <ul>
                            <li>Livraison le jour même</li>
                            <li>Rapidité garantie</li>
                            <li>Remboursement possible*</li>
                            <li>Offert partout sur le globe</li>
                        </ul>
                    </div>
                </div>

            </div>

        </div>

    </section>
    <!-- End Pricing Section -->

    <!-- ======= F.A.Q Section ======= -->
    <section id="faq" class="faq">

        <div class="container" data-aos="fade-up">

            <header class="section-header">
                <h2>F.A.Q</h2>
                <p>Foire Au Questions</p>
            </header>

            <div class="row">
                <div class="col-lg-6">
                    <!-- F.A.Q List 1-->
                    <div class="accordion accordion-flush" id="faqlist1">
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-1">
                    Comment suivre une commande ?
                  </button>
                            </h2>
                            <div id="faq-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                                <div class="accordion-body">
                                    Pour vérifier l'état d'une commande ou d'un suivi, connectez-vous à votre compte.
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-2">
                    Comment retourner un article ?
                  </button>
                            </h2>
                            <div id="faq-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                                <div class="accordion-body">
                                    Afin de retourner un article, vous aurez d'abord besoin d'un numéro RMA (Return Merchandise Authorization).
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-3">
                    
                    Spécifications et détails de produits
                  </button>
                            </h2>
                            <div id="faq-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                                <div class="accordion-body">
                                    Les spécifications du produit, les informations sur le modèle et les détails peuvent être trouvés sous l'onglet Spécifications (spécifications), en faisant défiler vers le bas sur chaque page de produit.
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-lg-6">

                    <!-- F.A.Q List 2-->
                    <div class="accordion accordion-flush" id="faqlist2">

                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq2-content-1">
                    Comment utiliser un code promo ?
                  </button>
                            </h2>
                            <div id="faq2-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist2">
                                <div class="accordion-body">
                                    Pour utiliser un code promotionnel, accédez à votre panier et faites défiler jusqu'à l'endroit où il est indiqué Appliquer les codes promotionnels. Entrez votre code promotionnel dans le champ.
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq2-content-2">
                    Comment nous contacter ?
                  </button>
                            </h2>
                            <div id="faq2-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist2">
                                <div class="accordion-body">
                                    Sous l'onglet contact dans le haut de la page, envoyez-nous un courriel.
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq2-content-3">
                    Garantie des produits ?
                  </button>
                            </h2>
                            <div id="faq2-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist2">
                                <div class="accordion-body">
                                    Les produits vendus sur Parts Gladiator sont généralement couverts à la fois par la politique de retour de Parts Gladiator et par la garantie du fabricant du produit.
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

        </div>

    </section>
    <!-- End F.A.Q Section -->

    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients">

        <div class="container" data-aos="fade-up">

            <header class="section-header">
                <h2>Partenaires officiels</h2>
                <p>Vos marques favorites</p>
            </header>

            <div class="clients-slider swiper">
                <div class="swiper-wrapper align-items-center">
                    <div class="swiper-slide"><img src="../static/img/razer-1.svg" class="img-fluid" alt=""></div>
                    <div class="swiper-slide"><img src="../static/img/steelseries.svg" class="img-fluid" alt=""></div>
                    <div class="swiper-slide"><img src="../static/img/corsair-2.svg" class="img-fluid" alt=""></div>
                    <div class="swiper-slide"><img src="../static/img/nzxt-1.svg" class="img-fluid" alt=""></div>
                    <div class="swiper-slide"><img src="../static/img/hyperx-logo-lg.svg" class="img-fluid" alt=""></div>
                    <div class="swiper-slide"><img src="../static/img/visa.svg" class="img-fluid" alt=""></div>
                    <div class="swiper-slide"><img src="../static/img/mastercard-2.svg" class="img-fluid" alt=""></div>
                    <div class="swiper-slide"><img src="../static/img/paypal-1.svg" class="img-fluid" alt=""></div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>

    </section>
    <!-- End Clients Section -->
</main>
{% endblock %}