{% extends 'layout.html' %} {% block content %}

<section id="about" class="about">

    <div class="container" data-aos="fade-up">

        <header class="section-header">
            <p>À propos de nous</p>
        </header>

        <div class="row">
            <div class="col-sm-12">
                <h2>Parts Gladiator</h2>
                <img src="../static/img/AboutImg.jpg" width="400px" height="150px"><br><br>

                <h3>Parts Gladiator : qui sommes nous ?</h3>
                <p>Expert en pièce d'ordinateur, nous offrons une solution facile et fiable pour l'achat de vos pièce de qualité</p><br><br>

                <h3>l'équipes</h3>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="../static/img/team/team-1.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Jordan Bélanger</h5>
                                <p class="card-text">Développeur</p>

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="../static/img/team/team-4.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Jean-Philippe Gagnon</h5>
                                <p class="card-text">Développeur front end</p>

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="../static/img/team/team-3.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Pierre-Olivier Gravel</h5>
                                <p class="card-text">Développeur</p>

                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>

</section>


{% endblock %}