{% extends 'layout.html' %}
{% block content %}
<section id="about" class="about"></section>
<div class="container">
        <div class="row">
                <div class="col-sm-12" style="text-align:center">
                    <h1>Paiement complété</h1><br>
                    <h2>Un courriel de confirmation vous a été envoyé a l'adresse suivante {{user.courriel}}</h2>
                    <a href="/">Accueil</a>
                    <p>{{user}}</p>
                </div>  
        </div>
        <div class=" row">
            <div class="col-sm-6">
                    {% for p in products %}
                    <img class="img-fluid" src="{{ p.createdby }}" alt="{{ p.id }}">
                    <h3>{{ p.name }}</h3>
                    {% endfor %}
            </div>
        </div>
</div>

        
</section>

{% endblock %}