{% extends 'layout.html' %}

{% block content %}

<!-- Content -->

<div style="text-align: center">
    <h2>Recherche</h2>
    <form action="" method="POST">
            {% csrf_token %}
            <label>Nom : </label>
            <input type="text" name="Name"></input>
            <label>Catégorie : </label>
            <select name="Category">
                {% for category in categories %}
                <option value="{{ category.id }}">{{ category.name }}</option>
                {% endfor %}
            </select>
            <label>Caractéristique : </label>
            <select name="Characteristic">
                {% for characteristic in characteristics %}
                <option value="{{ characteristic.id }}">{{ characteristic.name }}</option>
                {% endfor %}
            </select>
            <label>Marque : </label>
            <select name="Brand">
                {% for brand in brands %}
                <option value="{{ brand.id }}">{{ brand.name }}</option>
                {% endfor %}
            </select>
            <label>Promotion : </label>
            <select name="Promotion">
                {% for promotion in promotions %}
                <option value="{{ promotion.id }}">{{ promotion.name }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Rechercher">
    </form>

    <div>
        <table>
                {% for product in products %}
                <tr>
                    <td>
                        {{ product.name }}
                    </td>
                </tr>
                {% endfor %}
        </table>
    </div>
</div>

{% endblock %}